{% extends "layout.html" %}

{% block main %}
    <!--https://www.w3schools.com/html/html_tables.asp-->
    <table style="width:100%">
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
      </tr>
      <tr>
        <th>
        {% for stock in stocks %}
        <p>{{stock}}</p>
        {% endfor %}
        CASH
        </th>
      </tr>
      <tr>
        <th>
        {% for stock in stocks %}
        <p>{{stock}}</p>
        {% endfor %}
      </th>
      </tr>
      <tr>
        <th>
        {% for stock in stocks %}
        <p>{{shares}}</p>
        {% endfor %}
      </tr>
      <tr>
        <th>
        {% for stock in stocks %}
        <p>{{price}}</p>
        {% endfor %}
      </tr>
      <tr>
        <th>
        {% for stock in stocks %}
        <p>{{total}}</p>
        {% endfor %}
        {{stock}}
      </tr>
    </table>
{% endblock %}
